* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    margin: 20px 100px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}

.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.card {
    width: 30%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.03);
    transition: 1s;
    filter: drop-shadow(1px 1px);
}

.card:hover img {
    filter: grayscale(0%);
}
  
/*responsive*/
@media only screen and (max-width:768px)
{
    .Gallery{
        display: flex;
        flex-direction:column;
     width:100%;
    }
   .container h1{
        font-size: 1rem;
        padding-right:10%;
    }
     .card{
     width: 100%;
    }
 

@media only screen and (max-width:600px)
{
    .Gallery{
        display: flex;
        flex-direction:column;
     width: 100%;
    }
   .container h1{
        font-size: 1rem;
        padding-right:10%;
    }
    .card{
        width: 100%;
    }


